.chat-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  /* gap: 16px; */
  align-items: flex-start;
}

.message {
  border-radius: 16px;
  border-bottom-left-radius: 1px;
  background: #fff;
}
.my-message {
  border-radius: 16px;
  border-bottom-right-radius: 1px;
  background: #E7F6EC;
}

.board {
  height: calc(100vh - 160px);
}
.board::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.board::-webkit-scrollbar-track {
  background: var(--grey-1);
  border-radius: 10px;
}

/* Handle */
.board::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

.message-block-head {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

:host ::ng-deep .ng_skeleton {
  width: 100%;
  border-radius: 4px;
  height: 85px !important;
}
:host ::ng-deep .p-dialog-draggable {
  margin: 0;
  max-height: 100%;
}
:host ::ng-deep .p-dialog-content {
  padding: 0
}
.message-skeleton-1 {
  max-width: 80%;
  width: 100%;
}

.message-skeleton-2 {
  max-width: 70%;
  width: 100%;
}

.message-skeleton-3 {
  max-width: 50%;
  width: 100%;
}

.message-skeleton-4 {
  max-width: 60%;
  width: 100%;
}

.unread {
  content: "Unread messages";
  height: 30px;
  /*margin-bottom: .1875rem;*/
  text-align: center;
  color: var(--green);
  line-height: 2.1;
  font-weight: 500;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 2;
  position: relative;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .chat-container {
    grid-template-columns: 1fr;
  }
  .board {
    height: calc(100vh - 70px);
  }
  .message-block {
    box-shadow: none;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    max-height: 100vh;
  }

  .message-block-head {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
}
