.card {
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-gap: 24px;

}
.img {
  overflow: hidden;
}
a,
.address {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .3s;
  color: #000;
  w:al
}
a:hover {
  color: var(--green);
}
@media (max-width: 768px) {
  .card {
    grid-template-columns: 140px 1fr;
    grid-gap: 12px;
  }
}
