.banner {
  height: calc(100vh - 85px);
}
.img {
  width: 100%;
  height: calc(100vh - 200px);
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}
.search-panel {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.search-block {
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-gap: 30px;
}
:host ::ng-deep .p-checkbox .p-checkbox-box {
  border-width: 1px !important;
}
:host ::ng-deep .p-placeholder,
:host ::ng-deep .p-cascadeselect-label {
padding: 0 !important;
  font-family: var(--regular);
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
  color: var(--dark-5)
}
:host ::ng-deep .p-cascadeselect {
  border: 0 !important;
}
:host ::ng-deep .p-cascadeselect-trigger {
  display: none;
}
@media (max-width: 768px) {
  .banner {
    height: 50vh;
    margin-bottom: 80px;
  }
  .img {
    width: 100%;
    height: 50vh;
  }
}
