<section class="banner" aria-labelledby="home-search-title">
  <img
    class="banner__image"
    src="../../../../../assets/images/home-banner.jpg"
    alt="Zamonaviy ijaraga beriladigan uy interyeri"
    width="1600"
    height="900"
    fetchpriority="high"
  />
  <div class="banner__scrim" aria-hidden="true"></div>
  <div class="banner__content">
    <div class="banner__copy">
      <p>Nexthome</p>
      <h1 id="home-search-title">O'zingizga mos uyni toping</h1>
      <span>Tekshirilgan e'lonlar, aniq manzil va qulay aloqa.</span>
    </div>
    <app-banner-filter></app-banner-filter>
  </div>
</section>
