/* .card {
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.08);
} */

.body h3 {
  font-family: var(--semiBold);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  transition: 0.3s;
}

.body .location p {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.like {
  position: absolute;
  color: #000000cc;
  background: #00a00080;
}

.title:hover h3 {
  color: var(--green);
}

.card img {
  transition: 0.3s linear;
}

.card:hover img {
  transform: scale(1.04);
}
:host ::ng-deep .p-button-loading-icon {
  color: var(--green);
}