<p-dialog [(visible)]="visible"
          [dismissableMask]="true"
          [modal]="true"
          [breakpoints]="{'575px': '95vw' }"
          [style]="{ width: '536px',borderRadius: '12px',overflow: 'hidden',padding: 0 }"
          [showHeader]="false"
>
  <div class="flex flex-col gap-[24px]">
    <div class="flex justify-center">
          <span class="rounded-[18px] bg-white px-[20px] py-[20px] user-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="52"
              height="53"
              viewBox="0 0 52 53"
              fill="none"
            >
              <g filter="url(#filter0_d_393_13875)">
                <g filter="url(#filter1_i_393_13875)">
                  <path
                    d="M26 5C21.7242 5 18.2581 8.36213 18.2581 12.5095C18.2581 16.6569 21.7242 20.0191 26 20.0191C30.2758 20.0191 33.7419 16.6569 33.7419 12.5095C33.7419 8.36213 30.2758 5 26 5Z"
                    fill="#AEAEB2"
                  />
                  <path
                    d="M26 5C21.7242 5 18.2581 8.36213 18.2581 12.5095C18.2581 16.6569 21.7242 20.0191 26 20.0191C30.2758 20.0191 33.7419 16.6569 33.7419 12.5095C33.7419 8.36213 30.2758 5 26 5Z"
                    fill="url(#paint0_linear_393_13875)"
                  />
                  <path
                    d="M17.7419 24.0242C13.4662 24.0242 10 27.3862 10 31.5337V33.9133C10 35.4216 11.127 36.7077 12.6617 36.9508C21.4954 38.3497 30.5046 38.3497 39.3382 36.9508C40.873 36.7077 42 35.4216 42 33.9133V31.5337C42 27.3862 38.5339 24.0242 34.2581 24.0242H33.5543C33.1734 24.0242 32.7949 24.0826 32.4328 24.1972L30.646 24.7633C27.627 25.7193 24.373 25.7193 21.354 24.7633L19.5671 24.1972C19.205 24.0826 18.8265 24.0242 18.4457 24.0242H17.7419Z"
                    fill="#AEAEB2"
                  />
                  <path
                    d="M17.7419 24.0242C13.4662 24.0242 10 27.3862 10 31.5337V33.9133C10 35.4216 11.127 36.7077 12.6617 36.9508C21.4954 38.3497 30.5046 38.3497 39.3382 36.9508C40.873 36.7077 42 35.4216 42 33.9133V31.5337C42 27.3862 38.5339 24.0242 34.2581 24.0242H33.5543C33.1734 24.0242 32.7949 24.0826 32.4328 24.1972L30.646 24.7633C27.627 25.7193 24.373 25.7193 21.354 24.7633L19.5671 24.1972C19.205 24.0826 18.8265 24.0242 18.4457 24.0242H17.7419Z"
                    fill="url(#paint1_linear_393_13875)"
                  />
                </g>
              </g>
              <defs>
                <filter
                  id="filter0_d_393_13875"
                  x="-9"
                  y="-4"
                  width="68"
                  height="63"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="5"/>
                  <feGaussianBlur stdDeviation="5"/>
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_393_13875"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_393_13875"
                    result="shape"
                  />
                </filter>
                <filter
                  id="filter1_i_393_13875"
                  x="10"
                  y="-5"
                  width="32"
                  height="43"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="BackgroundImageFix"
                    result="shape"
                  />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="-10"/>
                  <feGaussianBlur stdDeviation="8.5"/>
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.34 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="shape"
                    result="effect1_innerShadow_393_13875"
                  />
                </filter>
                <linearGradient
                  id="paint0_linear_393_13875"
                  x1="26"
                  y1="5"
                  x2="26"
                  y2="38"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#97FF45"/>
                  <stop offset="1" stop-color="#17B917"/>
                </linearGradient>
                <linearGradient
                  id="paint1_linear_393_13875"
                  x1="26"
                  y1="5"
                  x2="26"
                  y2="38"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#97FF45"/>
                  <stop offset="1" stop-color="#17B917"/>
                </linearGradient>
              </defs>
            </svg>
          </span>
    </div>
    <div class="flex justify-center">
      <h2 class="font-600 text-[31px]">
        Tizimga <span class="text-[color:var(--green)]">kirish</span>
      </h2>
    </div>
    <div>
      <div [formGroup]="ruleForm" class="flex flex-col gap-[18px]">
        <div class="flex flex-col gap-2 relative">
          <label class="font-400 text-[--gray-6] text-base" for="number">Telefon raqamingiz</label>
          <div class="relative w-full flex items-center">
            <p-inputMask
              mask="99 999 99 99"
              [ngClass]="{'ng-invalid ng-dirty': ruleForm.controls.phone_number.touched &&ruleForm.controls.phone_number.errors && ruleForm.controls.phone_number.errors['required'] }"
              type="text"
              class="mask-input  w-full"
              pInputText
              id="number"
              formControlName="phone_number"
              pattern="^\d{2} \d{3} \d{2} \d{2}$"
              [autoClear]="false"
            ></p-inputMask>
            <span class="number-style h-full absolute left-[18px] flex items-center">+998</span>
          </div>

          <div
            *ngIf="ruleForm.controls.phone_number.invalid && (ruleForm.controls.phone_number.dirty  || ruleForm.controls.phone_number.touched)"
          >
            <app-invaid-text [text]="'Phone number is required.'"
                             *ngIf="ruleForm.controls.phone_number.errors && ruleForm.controls.phone_number.errors['required']"></app-invaid-text>
            <app-invaid-text [text]="'Please enter in the format ##-###-##-##.'"
                             *ngIf="ruleForm.controls.phone_number.errors && ruleForm.controls.phone_number.errors['pattern']"></app-invaid-text>
          </div>

        </div>
        <div class="flex flex-col gap-2 text-base relative w-full">
          <label class="font-400 text-[gray-6]" for="password">Parol</label>
          <p-password
            formControlName="password"
            id="password"
            class="password-input w-full h-12 rounded-[8px] border-[2px] border-solid border-[--input-stroke] bg-[--gray-1]"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <div
            *ngIf="ruleForm.controls.password.errors && ruleForm.controls.password.invalid && ruleForm.controls.password.touched"
          >
            <app-invaid-text [text]="'Password is required.'"
                             *ngIf="ruleForm.controls.password.errors['required']"></app-invaid-text>
            <app-invaid-text [text]="'Password must be at least 8 characters long.'"
                             *ngIf="!ruleForm.controls.password.errors['pattern'] && ruleForm.controls.password.errors['minlength']"></app-invaid-text>
            <app-invaid-text [text]="'Password must contain at least one letter and one number.'"
                             *ngIf="ruleForm.controls.password.errors['pattern']"></app-invaid-text>
          </div>
        </div>
        <div class="relative flex justify-center"
        >
          <app-invaid-text class="w-full flex justify-center" [text]="'Этот номер уже зарегистрирован'" *ngIf="infoError"></app-invaid-text>
        </div>
      </div>
      <button
        pButton
        [loading]="loading"
        (click)="onSubmit()"
        class="w-full mt-6 h-12 items-center text-[17px] bg-[color:var(--green)] rounded-[8px] text-white font-600 flex justify-center"
      >
        Kirish
      </button>
      <div class="flex justify-center mt-4">
        <button
        (click)="openRegisterDialog()"
          class="mx-auto font-600 text-[17px] bg-[transparent] text-[color:var(--green)]"
        >
          Ro’yxatdan o’tish
        </button>
      </div>

    </div>

  </div>
</p-dialog>
