.user-list {
  /* box-shadow: 0 0 18px #00000014; */
}

p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .ng_skeleton {
  width: 100%;
  border-radius: 4px;
  height: 85px !important;
}
.active {
  background: var(--grey-100);
  /* pointer-events: none; */
  /*color: #fff;*/
}
.list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: var(--grey-1);
  border-radius: 10px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}
.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}
.online {
  background-color: var(--ant-primary-color);
}
.offline {
  background-color: grey;
}
@media (max-width: 768px) {
  .user-list {
    box-shadow: none;
  }
}
