<div class="listing-skeleton" aria-hidden="true">
  <div class="listing-skeleton__media"></div>
  <div class="listing-skeleton__body">
    <span class="listing-skeleton__line listing-skeleton__line--price"></span>
    <span class="listing-skeleton__line listing-skeleton__line--title"></span>
    <span class="listing-skeleton__line listing-skeleton__line--title-short"></span>
    <span class="listing-skeleton__line listing-skeleton__line--location"></span>
    <div class="listing-skeleton__facts">
      <span></span><span></span><span></span>
    </div>
    <span class="listing-skeleton__line listing-skeleton__line--publisher"></span>
  </div>
</div>
