<p-dialog [(visible)]="visible" [dismissableMask]="true" [modal]="true" [style]="{
    width: '100%',
    height: '100vh',
    maxHeight: '100%',
    borderRadius: '12px',
    overflow: 'hidden',
    padding: 0,
  }" [showHeader]="false">
  <div>
    @if (visible) {
      <div class="map">
        <ya-map [center]="mapCenter" (yaclick)="handleMapClick($event)" [zoom]="12">
          <ya-placemark [geometry]="coords"></ya-placemark>
        </ya-map>
      </div>
    }
    <div class="toolbar fixed w-[450px] z-[1000] top-0 right-0 flex flex-col gap-6">
      <p-button class="w-full" styleClass="w-full flex justify-center" severity="danger"
      (click)="hideDialog()">Close</p-button>
    </div>
  </div>
</p-dialog>
