<div class="likes">
  @if (loading) {
    <div class="grid grid-cols-3 gap-[10px]  md:grid-cols-1 md:gap-3">
      @for (item of skeletonList; track item) {
        <p-skeleton class="w-full" styleClass="ng_skeleton"></p-skeleton>
      }
    </div>
  } @else {
    @if (announcements?.length) {
      <div class="grid grid-cols-3 gap-[10px] md:grid-cols-1 md:gap-3">
        @for (announcement of announcements; track announcement) {
          <app-announcements-card [announcement]="announcement" (likeChanged)="onLikeChanged($event)"></app-announcements-card>
        }
      </div>
    }
  }
  <div class="mx-auto max-w-[1200px] flex justify-center mt-6">
    <app-pagination [getData]="__GET_ANNOUNCEMENTS" [totalPage]="totalPage"></app-pagination>
  </div>
  @if (!loading && !announcements?.length) {
    <div class="empty-state">
      <i class="pi pi-heart" aria-hidden="true"></i>
      <h3>Saqlangan e'lonlar yo'q</h3>
      <p>Keyinroq ko‘rish uchun kerakli e'lonlarni saqlang.</p>
      <a routerLink="/announcements">E'lonlarni ko‘rish</a>
    </div>
  }
</div>
