.map {
  height: 100vh;
}

.filter-toolbar::-webkit-scrollbar {
  display: none;
}

.buses {
  transition: 0.2s;
  box-shadow: 0 0 2px rgb(0 0 0/20%), 0 -1px 0 rgb(0 0 0/2%);
}

.bus-list .active {
  /*background: var(--green);*/
  color: #fff;
}

.filter-toolbar {
  transition: 0.5s;
  transform: translateX(-100%);
}

.filter-bus {
  transition: 0.5s;
  transform: translateX(100%);
}

.toolbarShow {
  transform: translateX(0%);
  transition: 0.5s;
}

.busShow {
  transform: translateX(0%);
  transition: 0.5s;
}

.active svg path, .navbar .active path {
  fill: var(--green) !important;
}

ul {
  list-style: none;
}

ul button {
  background: transparent;
}

.rotate-180 {
  transform: rotate(180deg);
}

:host ::ng-deep .p-button-loading-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-transport-btn {
  position: relative;

}

.open-transport-btn::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
}

.open-tab {
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {


  .open-transport-btn {
    position: relative;
    padding: 0 0 5px 0;
    margin-bottom: 6px;
  }

  .open-transport-btn::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: transparent;
    bottom: -4px;
    left: 0
  }
  .active-tab {
    color: var(--green);
  }
  .active-tab::after {
    background-color: var(--green);

  }
}
