<div class="p-6 max-w-[1440px] mx-auto">
  <div class="flex flex-col gap-4">

    <div class="flex justify-between items-end">
      <div class="flex flex-col gap-3">
        <h4 class="text-[40px] font-medium text-[--green] md:text-2xl">Xatira Orqal Uy Toping</h4>
        <p class="text-[28px] md:text-lg">Uy kerarmi? Unda Biz yordam beramiz!</p>
      </div>
      <a [routerLink]="'/announcements'"
        class="btn px-[20px] md:hidden cursor-pointer bg-transparent whitespace-nowrap py-[10px] rounded-[12px] text-black border border-solid border-[--grey-300] text-[16px] font-500 flex items-center gap-[10px]">
        <svg class="rotate-180" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path _ngcontent-ng-c4129422631=""
            d="M16.0832 13.3707C16.808 12.6006 16.808 11.3994 16.0832 10.6293L8.7282 2.81464C8.34969 2.41246 7.71681 2.39329 7.31464 2.7718C6.91246 3.15032 6.89329 3.78319 7.2718 4.18537L14.6268 12L7.2718 19.8146C6.89329 20.2168 6.91247 20.8497 7.31464 21.2282C7.71681 21.6067 8.34969 21.5875 8.7282 21.1854L16.0832 13.3707Z"
            fill="currentColor"></path>
        </svg>
        Ortga
      </a>
    </div>



    <div class="grid map-grid gap-4 max-h-[1000px] md:flex flex-col-reverse  overflow-hidden">
      <div class="map relative border border-solid border-[--grey-300] rounded-2xl p-4">
        <div
          class="w-full !pointer-events-none h-full  absolute left-0 top-0 !z-[1000] flex justify-center items-center"
          *ngIf="transportLoading">
          <div class="w-full pointer-events-none loading-box h-full absolute left-0 top-0  z-[1000]">
          </div>
          <p-progressSpinner class="z-[10001]"></p-progressSpinner>
        </div>
        <ya-map [center]="coords" [zoom]="zoom" style="width: 100%; height: 400px; max-height: 400px"
          class="md:w-[481px] !pointer-events-none" [ngClass]="{'!pointer-events-none': transportLoading}">
          <ya-clusterer [options]="{
                minClusterSize: 2,
              
                hasBalloon: false,
              }" (click)="handleClusterClick($event)">
            <ya-placemark *ngFor="let announcement of announcements" [geometry]="announcement.geometry"
              (yaclick)="handleAnnounce(announcement?.id)" [options]="{
                  preset: 'islands#blueHomeIcon',
                  iconColor: '#00a000',
                }"></ya-placemark>
          </ya-clusterer>
          <ya-geoobject *ngFor="let route of selectRoutes; let index = index"
            [feature]="{ geometry: { type: 'LineString', coordinates: route.x } }" [options]="{
                strokeColor: route.color,
                strokeWidth: 5,
                draggable: false,
              }"></ya-geoobject>
          <ya-geoobject *ngFor="let route of selectRoutes; let index = index"
            [feature]="{ geometry: { type: 'LineString', coordinates: route.y } }" [options]="{
                strokeColor: route.color,
                strokeWidth: 5,
                draggable: false,
              }"></ya-geoobject>
        </ya-map>
      </div>
      <div class="border border-solid border-[--grey-300] rounded-2xl p-4">
        <p-selectButton styleClass="!rounded-2xl !w-full md:!hidden" [options]="stateOptions" [(ngModel)]="tab"
          optionLabel="label" optionValue="value">
          <ng-template let-item pTemplate>
            <div class="flex gap-2 items-center">
              <i [class]="item.icon"></i>
              <p>{{ item.label }}</p>
            </div>
          </ng-template>
        </p-selectButton>
        <div>
          <div class="max-h-[100vh]">
            <div *ngIf="transports.length > 0" class="bg-white py-4 md:py-0 rounded-xl min-h-[200px] md:min-h-0">

              <h4 class="text-black font-semibold mb-4 text-[16]" *ngIf="['bus'].includes(tab)">
                <span class="md:hidden block"> Автобусы поблизости </span><span class="md:block hidden">Выберите
                  транспорт</span>
              </h4>
              <h4 class="text-black font-semibold mb-4 text-[16]" *ngIf="['mashrutka'].includes(tab)">Маршруты
                поблизости</h4>
              <h4 class="text-black font-semibold mb-4 text-[16]" *ngIf="['metro'].includes(tab)">Линии метро поблизости
              </h4>
              <p-multiSelect styleClass="w-full border-solid border border-[--grey-300] rounded-[8px] flex items-center"
                [maxSelectedLabels]="100" (onClear)="onClear()" [showClear]="false" optionValue="ri"
                (onChange)="onChange($event)" class="w-full" placeholder="Выберите транспорт" inputId="float-label"
                display="chip" [options]="transports" [(ngModel)]="routeTransports" optionLabel="name">
                <ng-template let-option pTemplate="selectedItem">
                  <div class="custom-chip" [ngClass]="{'background-color': 'red'}">
                    {{ option.name }}
                  </div>
                </ng-template>
              </p-multiSelect>
              <p-button pButton (click)="showTransports = true"
                styleClass="py-3 bg-[color:var(--green)] mt-4 rounded-[8px] text-sm text-white font-600 flex justify-center gap-2 px-0 w-full"
                class="px-0 hidden md:flex py-0 w-full rounded-[8px] bg-[transparent] border-0">
                Transportlar ro'yxatini ko'rish
              </p-button>
              <ul class="bus-list flex flex-col gap-2 overflow-y-scroll max-h-[700px] mt-4 md:hidden">
                <span *ngIf="['mashrutka'].includes(tab)">
                  <li *ngFor="let transport of marshutka" class="rounded-[5px] block" [class]="{
                      active: routeTransports.includes(transport.ri) && !transportLoading,
                      'pointer-events-none opacity-50': loading,
                    }">
                    <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                      styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                      <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                      <span class="text-[#000000]" [class]="{
                        active: routeTransports.includes(transport.ri) && !transportLoading,
                      }">
                        Mashrutka - {{ transport?.name }}
                      </span>
                    </p-button>
                  </li>
                </span>
                <span *ngIf="['metro'].includes(tab)">
                  <li *ngFor="let transport of subways" class="rounded-[5px]" [class]="{
                      active: routeTransports.includes(transport.ri) && !transportLoading,
                      'pointer-events-none opacity-50': loading,
                    }">
                    <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                      styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                      <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                      <span class="text-[#000000]" [class]="{
                        active: routeTransports.includes(transport.ri) && !transportLoading,
                      }">
                        Metro - {{ transport?.name }}
                      </span>
                    </p-button>
                  </li>
                </span>
                <span *ngIf="['bus'].includes(tab)">
                  <li *ngFor="let transport of buses" class="rounded-[5px]" [class]="{
                        active: routeTransports.includes(transport.ri) && !transportLoading,
                        'pointer-events-none opacity-50': loading,
                      }">
                    <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                      styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                      <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                      <span class="text-[#000000]" [class]="{
                            active: routeTransports.includes(transport.ri) && !transportLoading,
                          }">
                        Avtobus - {{ transport?.name }}
                      </span>
                    </p-button>
                  </li>
                </span>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p-dialog class="hidden md:block top-0" [draggable]="true" position="topright" [showHeader]="false"
    [(visible)]="showTransports" [style]="{top: '0', width: '25rem',height: '100vh',maxHeight: '100%'}">
    <div class="flex justify-between items-center mb-4">
      <h4 class="text-black font-semibold text-[16]">
        Выберите транспорт
      </h4>

      <p-button (onClick)="showTransports = false" icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true"
        severity="danger" />
    </div>
    <div class="border  rounded-2xl p-3">
      <p-selectButton styleClass="!rounded-2xl !w-full" [options]="stateOptions" [(ngModel)]="tab" optionLabel="label"
        optionValue="value">
        <ng-template let-item pTemplate>
          <div class="flex gap-2 items-center">
            <i [class]="item.icon"></i>
            <p>{{ item.label }}</p>
          </div>
        </ng-template>
      </p-selectButton>
      <div>
        <div class="max-h-[100vh]">
          <div *ngIf="transports.length > 0" class="bg-white py-4 md:py-0 rounded-xl min-h-[200px] md:min-h-0">

            <ul class="bus-list flex flex-col gap-2 overflow-y-scroll max-h-[700px] mt-4 ">
              <span *ngIf="['mashrutka'].includes(tab)">
                <li *ngFor="let transport of marshutka" class="rounded-[5px] block" [class]="{
                    active: routeTransports.includes(transport.ri) && !transportLoading,
                    'pointer-events-none opacity-50': loading,
                  }">
                  <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                    styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                    <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                    <span class="text-[#000000]" [class]="{
                      active: routeTransports.includes(transport.ri) && !transportLoading,
                    }">
                      Mashrutka - {{ transport?.name }}
                    </span>
                  </p-button>
                </li>
              </span>
              <span *ngIf="['metro'].includes(tab)">
                <li *ngFor="let transport of subways" class="rounded-[5px]" [class]="{
                    active: routeTransports.includes(transport.ri) && !transportLoading,
                    'pointer-events-none opacity-50': loading,
                  }">
                  <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                    styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                    <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                    <span class="text-[#000000]" [class]="{
                      active: routeTransports.includes(transport.ri) && !transportLoading,
                    }">
                      Metro - {{ transport?.name }}
                    </span>
                  </p-button>
                </li>
              </span>
              <span *ngIf="['bus'].includes(tab)">
                <li *ngFor="let transport of buses" class="rounded-[5px]" [class]="{
                      active: routeTransports.includes(transport.ri) && !transportLoading,
                      'pointer-events-none opacity-50': loading,
                    }">
                  <p-button [loading]="transportLoading" (click)="filterTransport(transport)" class="px-0"
                    styleClass="w-full px-2 gap-2 bg-[transparent] border border-solid border-[var(--grey-1)] py-[10px] flex font-medium items-center justify-start buses cursor-pointer text-base">
                    <span class="w-3 h-3 rounded-full" [style.background]="transport?.color"></span>
                    <span class="text-[#000000]" [class]="{
                          active: routeTransports.includes(transport.ri) && !transportLoading,
                        }">
                      Avtobus - {{ transport?.name }}
                    </span>
                  </p-button>
                </li>
              </span>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </p-dialog>
  <p-dialog [draggable]="true" position="topleft" [showHeader]="false" [(visible)]="showInfo"
    [style]="{ width: '25rem' }">
    <button (click)="showInfo = false"
      class="w-10 h-10 bg-[var(--gray-1)] absolute right-[-39px] top-8 rounded-r-[8px] border-[1px] border-l-[0] border-[color:var(--input-stroke)] border-solid">
      <i class="pi pi-angle-double-right" [ngClass]="{ 'rotate-180': showToolbar }" style="color: #00a000"></i>
    </button>
    <app-announcements-card *ngIf="showInfo" [more]="true" [close]="closeAnnouncementInfo"
      [announcement]="currentAnnouce"></app-announcements-card>
  </p-dialog>
</div>