.bottom-bar {
  box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
}

.active span {
  background-color: var(--green);
}

.nav-icon i {
  color: #8e8e93;
  font-size: 17px;
  line-height: 1;
}

.active .nav-icon i {
  color: #fff;
}
.active {
  color: #000;
}
