<div class="fixed bottom-0 w-full hidden md:block">
  <div class="w-full bg-white px-6 pb-[10px] pt-[14px] rounded-t-[12px] bottom-bar">
    <a
      *ngIf="isPath.includes('/profile/announcements') && !isPath.includes('/profile/announcements/')"
      class="h-[52px] whitespace-nowrap py-[10px] flex items-center mb-2 justify-center rounded-[12px] text-white bg-[var(--green)] text-[16px] font-500 flex items-center gap-[10px]"
      [routerLink]="'/profile/create'"
    >

      E'lon qo'shish
    </a>
    <ul class="flex justify-between">
      <li *ngFor="let menuItem of menuList">
        <button
          *ngIf="menuItem.isPath === '/profile',else list"
          (click)="menuItem.action()"
          [ngClass]="{active: isPath.includes('profile')}"
          class="flex flex-col gap-[6px] font-400 text-[12px] text-[--gray-6] bg-[transparent] items-center">
          <span class=" w-10 h-[26px] flex justify-center items-center rounded-[4px]"
                [innerHTML]="sanitize(menuItem.icon)"></span>
          {{menuItem.title}}
        </button>
        <ng-template #list>
          <button
            [routerLink]="menuItem.isPath"
            [routerLinkActiveOptions]="{ exact: menuItem.isPath === '/' }"
            routerLinkActive="active"
            class="flex flex-col gap-[6px] font-400 text-[12px] text-[--gray-6] bg-[transparent] items-center">
          <span class=" w-10 h-[26px] flex justify-center items-center rounded-[4px]"
                [innerHTML]="sanitize(menuItem.icon)"></span>
            {{menuItem.title}}
          </button>
        </ng-template>

      </li>
    </ul>
  </div>
</div>
<app-register-dialog></app-register-dialog>
<app-auth-dialog [url]="'profile'" [openRegister]="openRegister"></app-auth-dialog>
<app-number-dialog [completeCallback]="completeCallback" [url]="'profile'"></app-number-dialog>
<app-sms-dialog [completeCallback]="completeSmsCallback" [anotherPhoneNumber]="anotherPhoneNumber"></app-sms-dialog>
