<div class="pb-6">
  <app-banner></app-banner>

  <div class="2xl:container mx-auto px-4">
    <h3 class="font-600 text-[48px] md:text-[20px]"> <span class="text-[--green]">Популярные </span>объявления</h3>
    <div
      class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3 mt-[15px]"
      *ngIf="loading, else carouselList"
    >
      <p-skeleton *ngFor="let item of [1,2,3]" class="w-full" styleClass="ng_skeleton"></p-skeleton>
    </div>
    <ng-template #carouselList>
      <div class="relative ">
        <div class="mr-[-15px] ml-[-15px] "  #owlCarousel>
          <app-list-carousel [announcements]="announcements"></app-list-carousel>
        </div>
      </div>

    </ng-template>
    <h3 class="font-600 text-[48px] md:text-[20px] mt-6"> <span class="text-[--green]">Новые </span>объявления</h3>
    <div
      class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3 mt-[15px]"
      *ngIf="loading, else carouselList"
    >
      <p-skeleton *ngFor="let item of [1,2,3]" class="w-full" styleClass="ng_skeleton"></p-skeleton>
    </div>
    <ng-template #carouselList>
      <div class="relative ">
      <div class="mr-[-15px] ml-[-15px] "  #owlCarousel>
        <app-list-carousel [announcements]="announcements"></app-list-carousel>
      </div>
      </div>

    </ng-template>

    <div class="my-6">
      <app-banner-template></app-banner-template>
    </div>
    <div
      class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3 mt-[15px]"
      *ngIf="loading, else announcementsList"
    >
      <p-skeleton *ngFor="let item of skeletonList" class="w-full" styleClass="ng_skeleton"></p-skeleton>
    </div>
    <ng-template #announcementsList>
      <div class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3" >
        <ng-container *ngFor="let announcement of announcements">
          <app-announcements-card [announcement]="announcement"></app-announcements-card>
        </ng-container>
      </div>
    </ng-template>
  </div>
</div>
