:host ::ng-deep .ng_skeleton {
  width: 100% ;
  border-radius: 18px;
  height: 490px !important;
}
:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  position: absolute;
}
:host ::ng-deep .slick-prev, :host ::ng-deep .slick-next {
  width: 50px;
  height: 50px;
  background: #00A000;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 0px #00000040;

}
:host ::ng-deep .slick-prev {
  left: -13px;
  z-index: 10;
  transform: rotate(180deg);

}
:host ::ng-deep .slick-next {
  right: -13px;
  left: auto;
}
:host ::ng-deep .slick-next:before {
  content: url("/assets/images/Caret-Left.svg");
  font-size: unset;
}

:host ::ng-deep .slick-prev:before {
  content: url("/assets/images/Caret-Left.svg");
  font-size: unset;
}
@media (max-width: 768px) {
  .slick-slide {
    float: right;
    width: 50%;
    height: auto;
  }
  :host ::ng-deep .slick-prev, :host ::ng-deep .slick-next {
    display: none !important;
  }
  :host ::ng-deep .ng_skeleton {
    height: 259px !important;
  }
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.custom-carousel-container {
  position: relative;
  width: 100%;
}

.custom-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.custom-nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}



