<div class="pb-6">
  <app-banner></app-banner>
  <div class="2xl:container mx-auto px-4">
    <h3 class="font-600 text-[48px] md:text-[20px]"> <span class="text-[--green]">Yangi </span>e'lonlar</h3>
   <div class="mr-[-15px] ml-[-15px]">
     <ngx-slick-carousel class="carousel" [config]="slideConfig">
     <div slot="my-carousel" *ngFor="let announcement of announcements;let i = index" >
       <div ngxSlickItem class="p-[15px] md:p-[6px] slide">
         <app-announcements-card [announcement]="announcement"></app-announcements-card>
       </div>
     </div>
     </ngx-slick-carousel>
   </div>
    <div class="my-6">
      <app-banner-template></app-banner-template>
    </div>
    <div
      class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3 mt-[15px]"
      *ngIf="loading, else announcementsList"
    >
      <p-skeleton *ngFor="let item of skeletonList" class="w-full" styleClass="ng_skeleton"></p-skeleton>
    </div>
    <ng-template #announcementsList>
      <div class="grid grid-cols-3 md:grid-cols-2 gap-[30px] md:gap-3" >
        <ng-container *ngFor="let announcement of announcements">
          <app-announcements-card [announcement]="announcement"></app-announcements-card>
        </ng-container>
      </div>
    </ng-template>

<!--    <div class="mx-auto max-w-[1200px] flex justify-center mt-6">-->
<!--      <app-pagination [getData]="__GET_ANNOUNCEMENTS" [totalPage]="totalPage"></app-pagination>-->
<!--    </div>-->
  </div>
</div>
