.form-input input,
:host ::ng-deep .p-multiselect {
  height: 44px;
}
.form-input input,
.form-input textarea,
:host ::ng-deep input {
  color: var(--dark-5);
  font-family: var(--regular);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--grey-300);
  padding: 10px 18px;
}
:host ::ng-deep .p-multiselect-label {
  display: flex;
  align-items: center;
}
:host ::ng-deep .p-multiselect {
  color: var(--dark-5);
  font-family: var(--regular);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid var(--grey-300);
}
textarea:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #b7e0b8;
  border-color: #4caf50;
}
:host ::ng-deep .p-inputnumber {
  width: 100%;
}
:host ::ng-deep .file-upload {
  width: 104px;
  height: 104px;
}
