.product-gallery__featured {
  border-radius: 8px;
  border: solid 1px #f0f3f4;
  background-color: #ececec;
}

.product-gallery__carousel {
  margin-top: 9px;
}
.product-gallery__carousel owl-carousel-o img {
  border-radius: 8px;
  border: solid 1px #f0f3f4;
  height: 160px !important;
  object-fit: cover;
}
.product-gallery__carousel-item--active {
  border: solid 1px #459ad4 !important;
}

owl-carousel-o::ng-deep img {
  border-radius: 8px;
}
:host ::ng-deep .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  background: #fff;
}
:host ::ng-deep .owl-dots .owl-dot:hover span {
  background: var(--green);
}
:host ::ng-deep .owl-dots .owl-dot.active span {
  width: 36px !important;
  background: var(--green);
}
:host ::ng-deep .owl-carousel.owl-drag .owl-item {
  width: initial;
}
@media (max-width: 768px) {
  .product-gallery__carousel owl-carousel-o img {
    height: 64px !important;
    object-fit: cover;
  }
}

